@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Create a U-shaped curve using clip-path */

.searchbar{ border-radius: 16px; 
  border: 1px solid rgba(255, 255, 255, 0.20);
   background: rgba(38, 38, 38, 0.20); 
   backdrop-filter: blur(50px); -webkit-border-radius: 16px; -moz-border-radius: 16px; -ms-border-radius: 16px; -o-border-radius: 16px;

}


/* Css For swiper  */
.swiper {
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;

 
}
.swiper-button-prev{
  background-color:#2F2F2F;
  padding: 25px;
  border-radius: 50%;


 

}
.swiper-button-next{
  background-color:#2F2F2F;
  padding: 25px;
  border-radius: 50%;
 
  
}
.swiper-button-next:after{
  content: ">";
  font-size: 30px;
  color: #fff;
}
.swiper-button-prev:after{
  content: "<";
  font-size: 30px;
  color: #fff;
  
}


.swiper-wrapper{
  padding:10px 0;
}
/* .techCard{
  border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.20);
background:  rgba(38, 38, 38, 0.20);
box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.10);
} */

.botMainAvatar{
  z-index:1
}
.react-chatbot-kit-chat-container{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  
  border-radius: 16px;
  width: 350px;
  max-width: 422px;
  scroll-behavior: smooth;
  overflow: hidden;
}
.react-chatbot-kit-chat-inner-container {
  background: rgba(38, 38, 38, 0.20);
  backdrop-filter: blur(50px);
  border-radius: 16px;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.10);
}

.react-chatbot-kit-chat-btn-send {
  background: none;
}
.react-chatbot-kit-chat-btn-send-icon {
  fill: #28BFF1;
}

.react-chatbot-kit-chat-input {
  background: rgba(38, 38, 38, 0.20);
  border:none;
  color: rgba(210, 210, 210, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  outline: none;
}
.react-chatbot-kit-chat-input-form {
  background: rgba(38, 38, 38, 0.20)
}


.react-chatbot-kit-chat-message-container{
  border-top: 0.5px solid rgba(255, 255, 255, 0.20);
  height: 340px;
}



.react-chatbot-kit-chat-bot-message{
  margin-left: 0;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border:none
}
.react-chatbot-kit-user-chat-message{
  border-radius: 16px 16px 0px 16px;
  background: #28BFF1;
  color:black;
  -webkit-border-radius: 16px 16px 0px 16px;
  -moz-border-radius: 16px 16px 0px 16px;
  -ms-border-radius: 16px 16px 0px 16px;
  -o-border-radius: 16px 16px 0px 16px;
  
}
.react-chatbot-kit-chat-bot-message {
  width: 300px!important;
}
.react-chatbot-kit-user-chat-message-arrow {
  border:none
}
.react-chatbot-kit-chat-bot-message{
  background: none;
}
.react-chatbot-kit-chat-message-container{
  overflow-x: hidden;
  scrollbar-color: blue;
}
/* .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom:80px;
} */
.modal-boxx{
  border-radius: 16px;
  border: 1px solid  rgba(255, 255, 255, 0.20);
  background: rgba(38, 38, 38, 0.20);
  backdrop-filter: blur(50px);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:50px;
}
}

.techtool{
  overflow: visible;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.techtool::-webkit-scrollbar {
  display: none;
}

.pentagon {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgb(40, 191, 241 ,20%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.pentagons {
  position:relative;
 stroke: rgb(40, 191, 241 ,20%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.pentagons::after{
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width:468px ;
  height: 468px;
  background-color: rgb(40, 191, 241 ,0.20);
  border-radius: 16px;
  clip-path:polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%) ;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #f00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


@media (max-width: 768px) {
  .react-chatbot-kit-chat-container {
    top:50%;
    left:50%;
    bottom: 0;
    transform: translate(40%, -40%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(40%, -40%);
    -ms-transform: translate(40%, -40%);
    -o-transform: translate(40%, -40%);
}
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet{
  border:1px solid
}